* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__main {
    display: flex;
}

.container__card {
    margin: 20px 0 15px;
    min-width: 245px !important;
}

.input-group>.input-group-append>.btn {
    width: 100% !important;
    justify-content: space-between !important;
    display: flex !important;
    align-items: center !important;
}
