.container__main {
    display: flex;
}

.container__card {
    height: 400px;
    width: 48%;
}

.input-group>.input-group-append>.btn {
    width: 100% !important;
    justify-content: space-between !important;
    display: flex !important;
    align-items: center !important;
}